/* 
.chapters-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 0;
}

.chapters-list .chapter {
    list-style-type: none;
    text-align: left;
    background: #fbfbfb;
    color: #3c3f4f;
    padding: 1.3rem 2rem;
    font-size: 1.4rem;
    cursor: pointer;

    display: grid;
    grid-template-columns: min-content repeat(4, 1fr);
    grid-column-gap: 0.5rem;
}

.chapterID {
    font-weight: bold;
    grid-column: 1;
}

.chapterName {
    grid-column: 2 / span 4;
}

.chapterNameMeaning {
    grid-row: 2;
    grid-column: 1/ span 5;
} */
